## Looping Structures

1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to print the numbers from 20 to 1 using a while loop.

In [ ]:
for i in range(20,0,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

3. Write a program to print even numbers from 1 to 10.

In [ ]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [ ]:
for i in range(1,11):
    if i % 2 ==0 :
        print (i)

2
4
6
8
10

4. Write a program that prompts the user to enter a number n and prints all the
numbers from 1 to n.

In [ ]:
n= int(input("enter a number: "))
for i in range(1,n+1):
    print(i)

enter a number:  2

1
2

5. Write a program that prompts the user to enter a number n, and then prints all the
odd numbers between 1 and n.

In [ ]:
n= int(input("enter a number: "))
for i in range(1,n+1,2):
    print(i)

enter a number:  6

1
3
5

In [ ]:
n= int(input("enter a number: "))
for i in range(1,n+1):
    if i % 2 != 0:
        print(i)

enter a number:  11

1
3
5
7
9
11

6. Write a program that prints 'Happy Birthday!' five times on screen.

In [ ]:
Hb = ("Happy Birthday")
for i in range(5):
    print(Hb)

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

7. Write a program that takes a number n as input from the user and generates the first
n terms of the series formed by squaring the natural numbers.
Sample output
Enter a number: 6
The first 6 terms of the series are:
1 4 9 16 25 36

In [ ]:
n= int(input("the number : "))
print ( n)
for i in range(1,n+1):
    print(i**2,end=",")

the number :  6

6
1,4,9,16,25,36,

8. Write a program that prompts the user to input a number and prints its multiplication
table.

In [ ]:
n= int(input("the number : "))
print ( n)
for i in range(1,11):
    print(f' {n}* {i} = {n*i}')

the number :  5

5
 5* 1 = 5
 5* 2 = 10
 5* 3 = 15
 5* 4 = 20
 5* 5 = 25
 5* 6 = 30
 5* 7 = 35
 5* 8 = 40
 5* 9 = 45
 5* 10 = 50

9. Write a Python program to print the first 8 terms of an arithmetic progression starting
with 3 and having a common difference of 4.
The program should output the following sequence:
3 7 11 15 19 23 27 31

In [ ]:
f_term = 3
diff_term = 4
no_terms= 8
for i in range(no_terms):
    term = f_term + ( i * diff_term )
    print(term, end= "...")

3...7...11...15...19...23...27...31...

10. Write a Python program to print the first 6 terms of a geometric sequence starting
with 2 and having a common ratio of 3.
The program should output the following sequence:
2 6 18 54 162 486

In [ ]:
f_term = 2
diff_term = 3
no_terms= 6
for i in range(no_terms):
    term = f_term * (diff_term **i )
    print(term, end= "...")

2...6...18...54...162...486...

11. Write a program that asks the user for a positive integer value. The program should
calculate the sum of all the integers from 1 up to the number entered. For example, if
the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20.`

In [ ]:
n= int(input('enter a number :'))
for i in range(1,n+1):
    total_sum = n * (n+1) // 2
print(total_sum)

enter a number : 20

210

12. write a program that takes a positive integer N as input and calculates the sum of
the reciprocals of all numbers from 1 up to N. The program should display the final sum.
Output of the program should be like:
Enter a positive integer: 5
The sum of reciprocals from 1 to 5 is: 2.28`

In [ ]:
n= int(input('enter a number :'))
reciprocal_sum = 0
for i in range(1,n+1):
    reciprocal_sum += 1/i
print(reciprocal_sum)

enter a number : 10

2.9289682539682538

13. Write a program that prompts the user to enter a number and repeats this process 5
times. The program should accumulate the numbers entered and then display the final
running total.
Sample Output:
Enter a number: 10
Enter a number: 15
Enter a number: 35
Enter a number: 40
Enter a number: 50
The final running total is: 150

In [ ]:
running_total= 0
for i in range(5):
    n= int (input('input a number '))
    running_total += n
    print(running_total)

input a number  5

5

input a number  4

9

input a number  4

13

input a number  4

17

input a number  4

21

14. Write a program that prompts the user to enter a positive integer and calculates its
factorial. The factorial of a positive integer 'n' is denoted as 'n!' and is calculated by
multiplying all the integers from 1 to 'n' together. For example, the factorial of 5
(denoted as 5!) is calculated as 1 x 2 x 3 x 4 x 5.
The program should display the factorial value if the input is a positive number, or
display a message stating that the factorial does not exist for negative numbers.
Additionally, for an input of zero, the program should output that the factorial of 0 is 1.

In [ ]:
n= int(input(" enter a positive interger : "))
if n < 0:
    print("factorial does not exists for negative number")
elif n == 0 :
    print(" the factorial of o is 1")
else:
    factorial = 1
    for i in range(1,n+1):
        factorial *= i
print(f" the factorial of {n} is {factorial}")

 enter a positive interger :  5

 the factorial of 5 is 120

15. Write a Python program that prompts the user to enter a base number and an
exponent, and then calculates the power of the base to the exponent. The program
should not use the exponentiation operator (**) or the math.pow() function. The
program should handle both positive and negative exponents.

In [ ]:
base= int(input("enter a base number :"))
exponent = int(input("enter a exponent number :"))
result= 1
if exponent > 0:
    for i in range( exponent):
        result*= base
elif exponent < 0:
    for i in range(abs(exponent)):
        result *= base
    result = (1/ result)
else:
    result= 1
print(f" {base} raised to the power of {exponent} is {result} ")

enter a base number : 2
enter a exponent number : -3

 2 raised to the power of -3 is 0.125